                body {
                    margin: 0;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
                
                .window-UI {
                    height: 100vh;
                    width: 100vw;
                    background: linear-gradient(#FFC2D1, #FCC6D3, #FECBD6, #FCE5EB, #FCE5EB);
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                
                .contentBox {
                    display: flex;
                    flex-direction: row;
                    height: 90vh;
                    width: 70vw;
                    margin: auto;
                    border-radius: 2%;
                    overflow: hidden;
                    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
                }
                
                .left {
                    height: 90vh;
                    width: 17vw;
                    background-image: linear-gradient( #f7335e, #ee3d60, #f7496f, #f86383, #FD859E, #fabbc8);
                    font-size: 20px;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0px 5px;
                    color: whitesmoke;
                }
                
                .left div {
                    width: 270px;
                    height: 40px;
                    border-radius: 10px;
                    margin: 6px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 17px;
                    padding-top: 10px;
                    justify-content: center;
                }
                
                .right {
                    height: 90vh;
                    width: 53vw;
                    background-color: white;
                }
                
                .dpimage {
                    height: 180px;
                    width: 200px;
                    margin: auto;
                    margin-top: -40px;
                }
                
                .skillsection {
                    height: 90vh;
                    width: 53vw;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    padding: 20px 5px;
                }
                
                .skillsection div {
                    height: 200;
                    width: 300;
                }
                
                .skillsection div img {
                    box-shadow: 5px 4px 6px rgb(182, 181, 181);
                }
                
                .projectsSection {
                    height: 90vh;
                    width: 53vw;
                }
                
                .contactSection {
                    height: 90vh;
                    width: 53vw;
                    display: flex;
                    flex-direction: row;
                }
                
                .aside {
                    color: #b1afaf;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    margin: auto;
                }
                
                .aside div {
                    margin-bottom: 50px;
                    margin-left: 300px;
                }
                
                .imageMail {
                    height: 70px;
                    width: 100px;
                    margin-top: 110px;
                }
                
                .projectsSection {
                    height: 90vh;
                    width: 53vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 30px;
                }
                
                .serverimg {
                    height: 330px;
                    width: 300px;
                    margin-top: -85px;
                }
                
                .homeDiv {
                    padding: 160px;
                }